.App{
  height:100%;
}

.Header{
  z-index: 1;
}

.container-playlist{
  margin-left: 18%;
  padding-top: 4%;
  h1{
    color: white;
    margin-left: 100px;
  }
  .box-playlist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .playlist{
      width: 22%;
    }
    .nextContainer{
      .movieDiv{
        height: 121px;
      }
    }
  }

  .playlistsGuestContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 10%;
    .playlist{
      width: 22%;
    }

  }

  .createPlaylist {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
      margin-top: 10px;
      background-color: #1E75FF;
      border-radius: 20px;
      border: none;
      padding: 8px;
      width: 100%;
      color: white;
    }
    a {
      margin: 10px;
      text-decoration: none;
    }
  }
  .inputContainer{
    margin-bottom: 15px;
    background-color: #13131A;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    height: 30px;
    border: none;
    input{
      width: 100%;
      border: none;
      margin-left: 10px;
      background-color: #13131A;
      color: white;
    }
    .icons{
      margin-right:5px;
      color: white;
    }

  }
}