@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.App {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #13131A;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#root{
    /*background-color: #13131A;*/
}