@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.App {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #13131A;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
}

#light {
    background-color: whitesmoke;
}


#light p.length{
    background-color: whitesmoke;
    color: #1C1C24;
}

#dark {
    background-color: #13131A;
    color: whitesmoke;
    font-weight: bold;
}

.switch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 53px;
    padding-top: 4px;
    z-index: 1;
    margin-top: 37%;
    margin-left: 8px;
    position: fixed;
}

label {
    font-size: 10px;
}

.button {
    display: flex;
    align-items: center;
    width: 53px;
    height: 40px;
    size: A5;
}

#light .Header{
    background-color: #BDBDBD;
}

#light  .User{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}


#light .movieAndInfoContainer video{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}
#light .starting{
    background-color: rgba(105, 105, 105, 0.4);
    border:1px solid #1C1C24;
}

#light .edit{
    background-color: whitesmoke;
    border:1px solid #1C1C24;
}

#light .new-comment-input{
    background-color: whitesmoke;
    border:1px solid #1C1C24;

}

#light .icon{
    color:#30303a;
}
#light p.channel-id {
    color:#30303a;
}

#light .title h3{
    color:#30303a;
}


#light .container .inputContainer .icons{
    color:#30303a;
}

#light .goldStalker{
    background-color: rgba(105, 105, 105, 0.4);
    border:1px solid #1C1C24;
}

#light .goldRising{
    background-color: rgba(105, 105, 105, 0.4);
    border:1px solid #1C1C24;
}

#light .goldLoved{
    background-color: rgba(105, 105, 105, 0.4);
    border:1px solid #1C1C24;
}

#light .loved{
    background-color: rgba(105, 105, 105, 0.4);
    border:1px solid #1C1C24;
}

#light  .Name{
    color:#1C1C24;
}
#light .b-icon {
    color: #30303a;
}

#light p {
    color: #1C1C24;

}

#light .sort-icon {
    color: #30303a;
}

#light .reactions {
    color: #30303a;
}

#light .svg-inline--fa  {
    color: #30303a;
}

#light .up-title {
    color: #1C1C24;
}

#light .avatar{
    border:1px solid #1C1C24;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.32);
}

#light .login .container{
    background-color: rgba(105, 105, 105, 0.4);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light .container-playlists{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light .uploads{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light .container-form{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light .container-form input{
    background-color: white;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.32);
    color:#1C1C24;
}

#light .close-icon{
    color:#1C1C24;
}


#light .container-form span{
    color:#1C1C24;
}

#light input.radio{
    color:#1C1C24;
}



#light h1{
    color:#1C1C24;
}

#light .date {
    color:#1C1C24;
}
#light .stats-st-data {
    color: #1C1C24;
}

#light .stats-data {
    color: #1C1C24;
}



#light .menu-item {
    color: #1C1C24;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);

}

#light .upload-drag-video {
    color: #1C1C24;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light .video-card {
    color: #1C1C24;
    background-color: #BDBDBD;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light .description-container {
    color: #1C1C24;
    background-color: #BDBDBD;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light .video-title{
    color: #1C1C24;
}

#light .menu-last-item {
    color: #1C1C24;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light .pages p {
    color: white;
}
#light .inputContainer{
    background-color: whitesmoke;
    color:#1C1C24;
}

#light .video-card-suggestions{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
    background-color: rgba(105, 105, 105, 0.4);
}

#light input.search{
    background-color: white;
    color:#1C1C24;

}

#light .SideBar{
    background-color: rgba(105, 105, 105, 0.4);
    border: 1px solid #1C1C24;
    color:#1C1C24;
}

#light .results .pagination-next{
    background-color: #1E75FF;
    color:white;
}

#light .Profile button {
    background-color: #1E75FF;
    color:white;
}


#light .results .pagination-next p{
    color:white;
}

#light button{
    background-color: white;
    color: #1C1C24;
}

#light .container{
    background-color: white;
    color: #1C1C24;
}

#light .inputContainer input{
    background-color: white;
    color: #1C1C24;
}

#light .Profile .container .inputContainer .icons {
    color: #1C1C24;
}


#light .results .pagination-goback{
    background-color: #1E75FF;
    color:white;
}

#light .results .pagination-goback p{
    color:white;
}


#light .Tags button{
    background-color: #1E75FF;
    color:white;
    border: 1px solid #1C1C24;
}

#light .channel-id{
    color:#1C1C24;
}

#light .channel-data{
    color:#1C1C24;
    background-color: rgba(105, 105, 105, 0.4);
}


#light .channel-details{
    color:#1C1C24;
    background-color: rgba(105, 105, 105, 0.4);
}




#light .channel-card{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light .container-channels{
    background-color: rgba(105, 105, 105, 0.4);
    border: 1px solid #1C1C24;
    color:#1C1C24;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light .container-channels-2{
    background-color: rgba(105, 105, 105, 0.4);
    border: 1px solid #1C1C24;
    color:#1C1C24;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light .add-icon{
    color:#1C1C24;
}

#light .follow-chan{
    color:#1C1C24;
}

#light h1 {
    color: #1C1C24;
}

#light .container-channels .title {
    color:#1C1C24;
}

#light .see-more-btn {
    background-color: #1E75FF;
    border: 1px solid #1C1C24;
    color:white;
}

#light p.channel{
    color:#1C1C24;
    text-decoration: #1C1C24;
}

#light input.button{
    border: 1px solid #1C1C24;

}

#light .user-details {
   background-color: white;
    border-radius: 10px 10px 0 0;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light .user-data .bio{
    color:#1C1C24;
}

#light .user-data .username{
    color:#1C1C24;
}

#light .achievements{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light h2{
    color:#1C1C24;
}


#light h4{
    color:#1C1C24;
}


#light .photo-chan{
    border: 2px solid #1C1C24;
}

#light a{
    text-decoration: none;
    color:#1C1C24;
}

#light .container-public-home {
    color:#1C1C24;
}

#light .container-public-home a {
    text-decoration: none;
    color:#1C1C24;
}

#light .geral .pages .show-more{
    background-color: #1E75FF;
    color:white;
}

#light .geral .pages .show-less{
    background-color: #1E75FF;
    color:white;
}

#light .container-subs-stats .stats{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}

#light .container-uploads{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
}


#light .stats{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.32);
    color:#1C1C24;
}

