@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.App {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #13131A;
    width:100vw;
    max-height: 100%;
    margin: 0;
    overflow: auto;
    padding-bottom: 20%;
}

#root{
    /*background-color: #13131A;*/
}