.App {
  .upload{
    .form-group{
      height: 30em;
      width: 40em;
      background-color: #1c1c24;
      border-width: 5px;
      border-spacing: 5px;
      border-style: dashed;
      border-color: white;
      border-radius: 25px;
      -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
      transition: outline-offset .15s ease-in-out, background-color .15s linear;
      padding: 120px 0px 85px 35%;
      text-align: center !important;
      margin: 0;

      .instructions{
        color: lightgrey;
        text-align: center;
      }
    }
  }
}