
.login{
  padding: 10%;
  padding-bottom: 20em;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    .img{
      width: 80%;
      height: 100%;
      margin-left: 21px;
      margin-top: 10%;
    }
    .inputContainer{
      margin-bottom: 15px;
      width: 100%;
      margin-top: 10px;
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      border-radius: 6px;
      height: 30px;
      border: none;
      outline: none;

      #password {
        width: 100%;
        height: 25px;
        margin-bottom: 10px;
        padding: 10px;
        margin-bottom: 1em;
      }
      input{
        width: 100%;
        border: none;
        outline: none;
        margin-left: 10px;
        background-color: #2a2a31;
        color: white;
        height: 1em;
        -internal-autofill-selected {
          background-image: none !important;
          background-color: none;
          color: fieldtext !important;
        }

      }
      .icons{
        margin-right:5px;
        color: white;
      }
    }
    .checkboxContainer{
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      label{
        font-size: 12px;
      }
      .checkbox{
        border: none;
        outline: none;
      }
      a{
        text-decoration: none;
      }
    }
    button{
      margin-top: 10px;
      background-color: #1E75FF;
      border-radius: 20px;
      border: none;
      padding: 8px;
      width: 100%;
      color: white;
    }
    a {
      margin: 10px;
      text-decoration: none;
    }
    .google{
      width: 100%;
      margin-top: 8%;
      padding-top: 8%;
      border-top-color: grey;
      border-top-style: ridge;
      border-top-width: 1px;
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      a{
        color: white; /* desired color */
        text-decoration: none;
        outline: none;
        & hover{
        color: #1E75FF;

      }
      }
    }
  }
}

#pwContainer{
  margin-bottom: 5px;
}

#forgotPw{
  margin:0;
  margin-bottom: 10px;
  font-size:10px;
  width: 96%;
}

