.App{
  height:100%;
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  h1{
    color: lightgray;
  }
  form{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  #email{
    width: 100%;
    border-radius: 20px;
    height: 25px;
    margin-bottom: 10px;
    padding: 10px;
  }
  button{
    display: flex;
    flex-direction: column;
  padding-left: 2.4em}
  button:hover{
    cursor: pointer;
  }
}