.geral {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2%;
  color: lightgrey;
  .video-card{
    .thumbnail{
      width: 100%;
      position: relative;
      background-color: #1E75FF;
      border-radius: 1em;
    }
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 11px;
    margin-bottom: 18px;
    width: 34%;
    height: 83%;
    border-radius: 1em;

    .contents{
      padding: 1%;
    .title{

    }
    .days-posted{

    }
    .length{

    }

    .likes{

    }
    .comments{

    }
    .views{

    }
    .username{

    }
    .user-photo{
      background-color: red;
      position: absolute;
      border-radius: 50%;
    }
    }
  }
}