.container-homepage {
  display: flex;
  flex-direction: column;

  .container-home {
    display: flex;
    flex-direction: row;
    height: 60%;
    margin-top: 5%;
    margin-left: 18%;
    color: white;

    .container-geral {
      display: flex;
      flex-direction: column;

      h1 {
        margin-top: 10px;
        margin-bottom: 0;
      }

      .container-videos {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 20%;
        color: black;
        background-color: dimgrey;
        position: absolute;
        margin-left: 200px;
      }

      .recomendations {
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: dimgrey;
        margin-left: 190px;
      }


    }


    .channels-containers-wrapper {
      display: flex;
      flex-direction: column;
      width: 197px;
      height: 589px;
      margin: 6%;
      justify-content: space-between;


      .container-channels {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: #1C1C24;
        flex-wrap: wrap;


        .list {
          display: flex;
          flex-direction: row;

          p.channel-id {
            display: flex;
            width: 60%;
            height: 26px;
            margin-top: calc(100% - 103%);
            position: absolute;
            margin-left: 23%;
            font-size: 9pt;
          }

          p.channel-bio {
            font-family: Arial, sans-serif;
            color: grey;
            font-size: 7pt;
            margin-top: 6%;
            margin-left: 31%;
            width: 87px;
          }


        }

        .title {
          display: flex;
          flex-direction: column;

          margin-top: 15px;
          width: 100%;
          color: lightgrey;

          .channel-list {

            .photo-channel {
              display: flex;
              width: 180px;
              margin: auto;
              padding-top: 7px;


              .photo-chan {
                object-fit: cover;
                border-radius: 50%;
                width: 30px;
                height: 30px;
              }

              .channel {
                font-size: 9pt;
                color: lightgray;
                margin-top: 9px;
              }
            }
          }

          .title-chan{
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid dimgrey;
          }

          h3 {
            margin-top: 0;
            margin-left: 11px;
            font-size: 14px;
          }

          .suggestions-icon {
            margin-left: 40px;
          }
        }

        .see-more-btn {
          background-color: #30303a;
          border-radius: 0 0 10px 10px;
          width: 198px;
          margin-left: -1px;
          margin-top: 12px;
          padding-bottom: 1px;
          padding-top: 3px;
        }

        .pagination {
          h3 {
            margin-top: 7px;
            text-align: center;
            font-size: 14px;
            color: lightgrey;
          }
        }
      }

      .container-channels-2 {
        border-radius: 15px;
        background-color: #1C1C24;

        .chan-thumb {
          display: flex;
          border: 1px solid dimgray;

          img {
            width: 175px;
            height: 100px;
            border-radius: 10px 10px 0 0;
          }

          .add-icon {
            position: absolute;
            margin-top: 110px;
            margin-left: 50px;
            color: dimgray;
          }

          .follow-chan {
            font-size: 8pt;
            color: dimgray;
            margin-top: 65%;
            margin-left: calc(100% - 155%);
          }
        }

        .title {
          position: relative;
          text-align: left;
          width: 100%;
          height: 24px;
          margin-top: 5%;
          color: lightgrey;
          border-bottom: 1px solid dimgrey;

          h3 {
            margin-top: 0;
            margin-left: 11px;
            font-size: 14px;
          }
        }

        .add-channel {
          display: flex;

          .photo-channel-2 {
            display: flex;
            height: 30px;

            .photo-chan-2 {
              border-radius: 50%;
              width: 100%;
              height: 100%;
              margin-top: calc(100% - 55px);
            }
          }

          h4 {
            margin-top: 133px;
            margin-left: 78px;
            color: lightgrey;
            font-size: 10px;
          }
        }
      }

    }
  }
}