.container-homepage {
  display: flex;
  flex-direction: column;

  .container-home {
    display: flex;
    flex-direction: column;
    width: 68%;
    height: 60%;
    margin-top: 5%;
    margin-left: 19%;
    color: white;

    h1 {
      margin-top: 0;
      margin-bottom: 0;
    }

    .container-channels-2 {
      display: flex;
      width: 13%;
      height: 34%;
      margin-top: 19%;
      border-radius: 15px;
      position: fixed;
      background-color: #1C1C24;

      .chan-thumb{
        display: flex;
        margin-top: 47%;
        margin-left: -94%;
        border: 1px solid dimgray;
        border-radius: 10px;
        height: 134px;
        width: 89%;


        .add-icon {
          position: absolute;
          margin-top: 110px;
          margin-left: 50px;
          color: dimgray;
        }

        .follow-chan {
          font-size: 8pt;
          color: dimgray;
          margin-top: 65%;
          margin-left: 44%;
        }

      }

      .title {
        position: relative;
        text-align: left;
        width: 100%;
        height: 24px;
        margin-top: 5%;
        color: lightgrey;
        border-bottom: 1px solid dimgrey;

        h3 {
          margin-top: 0;
          margin-left: 11px;
          font-size: 14px;
        }

        .see-more {
          margin-top: -13%;
          margin-left: 67%;
          font-size: 12px;
        }
      }

      .add-channel {
        display: flex;
        position: absolute;
        width: 91%;
        height: 40px;
        margin-top: 21%;
        margin-left: 8px;

        .photo-channel-2 {
          display: flex;
          width: 23%;
          height: 30px;
          margin-top: 3%;
          margin-left: -6%;
        position: absolute;


          .photo-chan-2 {
            border-radius: 50%;
            width: 100%;
            height: 100%;
          }
        }



        h4 {
          margin-top: 133px;
          margin-left: 78px;
          color: lightgrey;
          font-size: 10px;
        }
      }
    }

    .container-videos {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 20%;
      color: black;
      background-color: dimgrey;
      position: absolute;
      margin-left: 200px;
    }

    .recomendations {
      display: flex;
      flex-direction: column;
      width: 30%;
      background-color: dimgrey;
      margin-left: 190px;

    }

    .container-channels {
      display: flex;
      flex-direction: column;
      width: 13%;
      height: 38%;
      margin-top: 2%;
      margin-left: 65%;
      border-radius: 15px;
      position: fixed;
      background-color: #1C1C24;

      .list {
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        margin-left: 10%;
        width: 77%;
        height: 23px;


        p.channel-id {
          display: flex;
          width: 20%;
          height: 26px;
          margin-top: 4%;
          position: absolute;
          margin-left: 23%;
          font-size: 9pt;
        }
        p.channel-bio{
          font-family: Arial,sans-serif;
          color: grey;
          font-size: 7pt;
          margin-top: 17%;
          margin-left: 31%;
          width: 87px;
    }


    .channel {
      margin-top: 7px;
      margin-left: 23%;
      font-size: 9pt;
      color: lightgray;
    }

    .photo-channel {
      display: flex;
      width: 20%;
      height: 26px;
      margin-top: 3%;
      position: absolute;



      .photo-chan {
        border-radius: 50%;
        width: 70%;
        height: 70%;
      }
    }
  }

  .title {
    position: relative;
    margin-top: 15px;
    text-align: left;
    width: 100%;
    height: 24px;
    color: lightgrey;
    border-bottom: 1px solid dimgrey;


    h3 {
      margin-top: 0;
      margin-left: 11px;
      font-size: 14px;
    }
  }

  .see-more-btn {
    width: 100%;
    height: 37px;
    background-color: #30303a;
    margin-top: 115%;
    border-radius: 0 0 10px 10px;
    position: absolute;

    .pagination {

      h3 {
        margin-top: 12px;
        text-align: center;
        font-size: 14px;
        color: lightgrey;
      }
    }
  }

  .suggestions-icon {
    position: absolute;
    margin-top: -14%;
    margin-left: 85%;
    color: lightgrey;
  }
}
}
}