.channel{
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;


  .user-details{
   background-color: #826250;
    width:100%;
    height: 100%;
    margin-left:17%;

  .channel-bg {
    width: 80%;
    height: 20%;
    background-color: #1E75FF;
  }
  }



}
