.channel-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .container-public-channel-wrapper {
    display: flex;
    width: 78%;
    margin-top: 85px;
    margin-left: 280px;
    flex-direction: column;

    .channel-details {
      background-color: #13131A;
      border-bottom: 1px solid dimgrey;
      color: white;


      .channel-header {
        border-radius: 10px 10px 0 0;
        background-size: cover;
        overflow: hidden;
        width: auto;
        height: 150px;
      }

      .channel-data {
        display: flex;
        flex: 1;
        position: relative;


        .channel-avatar {
          width: 151px;
          height: 151px;
          border-radius: 50%;
          margin-left: 980px;
          border: 3px solid whitesmoke;
          object-fit: cover;
          position: absolute;
          margin-top: -90px;
          display: block;
        }

        .channel-name {
          margin-left: 1%;
          font-size: 22px;
        }

        .channel-bio {
          width:550px;
          margin-top: -2%;
          margin-left: 1%;
          font-size: 10pt;
        }
      }

      .stats-channel {
        display: flex;
        flex-direction: row;
        text-align: center;
        position: relative;
        margin-left: 30px;

        .followers, .views {
          margin-right: 10px;
        }
      }
    }

    .achi-title {
      display: flex;
      margin: 10px;

      h2 {
        color: lightgray;
        font-size: 15px;
      }
    }

    .achievements {
      display: flex;
      background-color: #1C1C24;
      width: 100%;
      height: 11%;
      border-radius: 10px;
      flex-wrap: nowrap;
      align-items: center;

      .goldStalker:hover {
        box-shadow: 4px 4px 4px 4px #857010;
      }

      .goldStalker {
        position: relative;
        display: flex;
        background-color: #13131A;
        width: 8%;
        height: 87%;
        margin: 7px;
        border-radius: 10px;

        img.Stalker.ouro {
          width: 75px;
          margin-top: -20px;
          margin-left: 11px;
          z-index: 0;

        }

        p {
          color: lightgray;
          font-size: 10pt;
          margin-left: 27px;
          position: absolute;
          margin-top: 93px;
        }
      }


      .starting:hover {
        box-shadow: 4px 4px 4px 4px #78d511;
      }

      .starting {
        position: relative;
        display: flex;
        background-color: #13131A;
        width: 8%;
        height: 87%;
        margin: 7px;
        border-radius: 10px;

        p {
          color: lightgray;
          font-size: 10pt;
          margin-top: 105px;
          margin-left: -77px;
        }

        .começar {
          width: 80px;
          position: relative;
          margin-top: -10px;
          margin-left: 6px;
        }
      }

      .goldLoved:hover {
        box-shadow: 4px 4px 4px 4px #857010;
      }

      .goldLoved {
        position: relative;
        display: flex;
        background-color: #13131A;
        width: 8%;
        height: 87%;
        margin: 7px;
        border-radius: 10px;

        p {
          color: lightgray;
          font-size: 10pt;
          margin-left: 12px;
          position: absolute;
          margin-top: 92px;
        }

        img.adoram-me.ouro {
          width: 70px;
          height: 70px;
          margin-top: 15px;
          margin-left: 12%;
          border-radius: 50%;
          color: rgb(232, 206, 107);

        }
      }



      img.adoram-me.prata {
        width: 70px;
        height: 70px;
        margin-top: 15px;
        margin-left: 13px;
        border-radius: 50%;
        background: rgba(248, 247, 247, 0.73);

      }

  .loved:hover{
    box-shadow: 4px 4px 4px 4px rgba(248, 247, 247, 0.73);
  }

        .loved {
          position: relative;
          display: flex;
          background-color: #13131A;
          width: 8%;
          height: 87%;
          margin: 7px;
          border-radius: 10px;

        p {
          color: lightgray;
          font-size: 10pt;
          margin-top: 105px;
          margin-left: -72px;
        }

        img.adoram-me.ouro {
          width: 75%;
          position: absolute;
          margin-top: 7px;
          margin-left: 12%;
          border-radius: 50%;
          background: rgb(232, 206, 107);
        }
      }

      .goldRising {
        background-color: #13131A;
        width: 7%;
        height: 87%;
        margin-top: 7px;
        margin-left: 16%;
        position: absolute;
        border-radius: 10px;

        img.Rising.ouro {
          width: 76%;
          margin-top: 9%;
          margin-left: 11%;
        }

        p {
          color: lightgray;
          font-size: 10pt;
          margin-top: 11%;
          margin-left: 13%;
        }
      }
    }

    .up-title {
      display: flex;
      margin:10px;
      height: 30px;
      color: lightgray;
      font-size: 15px;
    }

    .uploads {
      display: flex;
      align-items: center;
      align-content: space-evenly;
      background-color: #1C1C24;
      width: 100%;
      height: 18%;
      border-radius: 10px;

      p{

        margin-left: 10px;
      }

      .user-video{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 300px;
        margin:auto;

      }
    }
    .playlist {
      display: flex;
      margin: 10px;
      height: 163px;
      width: 300px;

      h2 {
        font-size: 15px;
        color: lightgray;

      }
      .channel-play{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 300px;
        margin:auto;

      }

    }


    .container-playlists {
      display: flex;
      align-items: center;
      align-content: space-evenly;
      background-color: #1C1C24;
      width: 100%;
      height: 18%;
      border-radius: 10px;
    }


    .about-text {
      color: lightgray;
      margin-top: 50px;
      margin-bottom: 0;
    }

    .stats {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 150px;
      margin-top: 0;
      margin-left: 100px;
      border-radius: 12px;
      background-color: #1C1C24;


      .date {
        color: lightgray;
        margin-left: 5%;
      }

      .stats-st-data {
        margin-left: 20px;
        margin-bottom: 0;
        color: lightgray;
      }

      .stats-data {
        margin-top: 0;
        margin-left: 20px;
        margin-bottom: 0;
        color: lightgray;
      }
    }
  }
}

