
.channel-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .container-wrapper{
    display: flex;

  .user-details {
    position: relative;
    background-color: #13131A;
    width: 1200px;
    margin-left: 200px;
    border-bottom: 1px solid dimgrey;
    color: white;


      .channel-bg {
        width: 1200px;
        height: 97%;
        border-radius: 10px 10px 0 0;

        .edit-bg-icon {
          position: absolute;
          margin-top: 6%;
          margin-left: 50%;
        }

        a {
          color: lightgray;
        }
      }
    }

    .edit-user-details {
      .edit {
        position: absolute;
        width: 10%;
        height: 12%;
        border: 1px solid dimgrey;
        border-radius: 18px;
        margin-top: 16%;
        margin-left: 1%;
        font-size: 9px;
        color: lightgrey;
        padding-bottom: 2px;
        background-color: #1C1C24;

        .edit-text {
          margin-top: 8%;
          margin-left: 10%;
          position: absolute;
          z-index: 1;
        }

        .icon {
          margin-left: 80%;
          margin-top: 4%;
          font-size: 16px;
          color: lightgray;
          position: absolute;
          z-index: 1;
        }
      }

      .user-data {
        width: 95%;
        position: relative;

        a {
          color: lightgray;
        }

        .edit-avatar-icon {
          position: absolute;
          margin-top: 17%;
          margin-left: 92%;
        }

        .edit-user-data-icon {
          position: absolute;
          font-size: 12px;
          margin-left: 14%;
        }


        .avatar {
          width: 180px;
          height: 180px;
          border-radius: 50%;
          margin-top: 10%;
          margin-left: 85%;
          border: 3px solid whitesmoke;
          object-fit: cover;

        }

        .username {
          margin-left: 1%;
          font-size: 22px;
          position: absolute;
          margin-top: -53px;
        }

        .bio {
          margin-top: -2%;
          margin-left: 1%;
          font-size: 10pt;

        }

        .stats-user {
          display: flex;
          position: absolute;
          flex-direction: row;
          margin-top: -7%;
          margin-left: 60%;
          text-align: center;

          .followers, .views {
            margin-right: 10px;
          }
        }
      }
    }
  }

  h2 {
    color: lightgray;
    position: absolute;
    margin-left: calc(100% - 154%);
    margin-top: 22%;
    font-size: 15px;
  }

  .hide-icon {
    font-size: 12px;
  }

  .achievements {
    display: flex;
    background-color: #1C1C24;
    position: absolute;
    width: 78%;
    height: 16%;
    margin-top: 33%;
    margin-left: 15%;
    border-radius: 10px;
    flex-wrap: nowrap;

    .goldStalker:hover {
      box-shadow: 4px 4px 4px 4px #857010;
    }

    .goldStalker {
      background-color: #13131A;
      width: 7%;
      height: 87%;
      margin-top: 7px;
      margin-left: 31%;
      position: absolute;
      border-radius: 10px;

.hide-Achi {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: 18%;
  height: 12%;
  color: black;
  margin-left: 82%;
  margin-top: -4px;
  z-index: 1;

  .close-achi{
    width: 40%;
    margin-top: -25%;
    margin-left: 30%;
  }
}



      img.Stalker.ouro {
        width: 76%;
        margin-top: 9%;
        margin-left: 11%;
      }

      p {
        color: lightgray;
        font-size: 10pt;
        margin-top: 7%;
        margin-left: 24%;
      }
    }

    .bronzeInflu:hover {
      box-shadow: 4px 4px 4px 4px #624d0b;
    }


    .bronzeInflu {
      background-color: #13131A;
      width: 7%;
      height: 87%;
      margin-top: 1%;
      margin-left: 33%;
      position: absolute;
      border-radius: 10px;

      img.Influencer.bronze {
        width: 76%;
        margin-top: 9%;
        margin-left: 12%;
        color: lightgray;
      }

      p {
        color: lightgray;
        font-size: 10pt;
        margin-top: 7%;
        margin-left: 17%;
      }
    }

    .starting:hover {
      box-shadow: 4px 4px 4px 4px #78d511;
    }

    .starting {
      display: flex;
      background-color: #13131A;
      width: 7%;
      height: 87%;
      margin-top: 7px;
      margin-left: 7px;
      position: absolute;
      border-radius: 10px;

      .hide-Achi {
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 18%;
        height: 12%;
        color: black;
        margin-left: 82%;
        margin-top: -4px;
        z-index: 1;

        .close-achi{
          width: 40%;
          margin-top: -25%;
          margin-left: 30%;
        }
      }

      p {
        color: lightgray;
        font-size: 10pt;
        margin-top: 97%;
        margin-left: 6%;
      }

      .começar {
        width: 65%;
        position: absolute;
        margin-top: 14%;
        margin-left: 15%;
      }
    }

    .goldLoved:hover {
      box-shadow: 4px 4px 4px 4px #857010;
    }

      .goldLoved {
      background-color: #13131A;
      width: 7%;
      height: 87%;
      margin-top: 7px;
      margin-left: 11%;
      position: absolute;
      border-radius: 10px;


        .hide-Achi {
          position: absolute;
          background-color: red;
          border-radius: 50%;
          width: 18%;
          height: 12%;
          color: black;
          margin-left: 82%;
          margin-top: -4px;
          z-index: 1;

          .close-achi {
            width: 40%;
            margin-top: -25%;
            margin-left: 30%;
          }
        }

      p {
        color: lightgray;
        font-size: 10pt;
        margin-top: 98%;
        margin-left: 8%
      }

      img.adoram-me.ouro {
        width: 75%;
        position: absolute;
        margin-top: 7px;
        margin-left: 12%;
        border-radius: 50%;
        background: rgb(232, 206, 107);

      }
    }

    .goldRising:hover {
      box-shadow: 4px 4px 4px 4px #857010;
    }

    .goldRising {
      background-color: #13131A;
      width: 7%;
      height: 87%;
      margin-top: 7px;
      margin-left: 21%;
      position: absolute;
      border-radius: 10px;

      .hide-Achi {
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 18%;
        height: 12%;
        color: black;
        margin-left: 82%;
        margin-top: -4px;
        z-index: 1;

        .close-achi{
          width: 40%;
          margin-top: -25%;
          margin-left: 30%;
        }
      }

      img.Rising.ouro {
        width: 76%;
        margin-top: 9%;
        margin-left: 11%;
      }

      p {
        color: lightgray;
        font-size: 10pt;
        margin-top: 11%;
        margin-left: 13%;
      }
    }
  }

  .upload {
    margin-top: 48%;
    margin-left: calc( 100% - 154%);
  }

  .container-uploads {
    background-color: #1C1C24;
    width: 80%;
    height: 16%;
    margin-top: 58%;
    margin-left: 17%;
    border-radius: 10px;
  }
    .playlist {
    margin-top: 78%;
    margin-left: calc(100% - 129%);
  }

  .container-playlists {
    display: flex;
    flex-wrap: wrap;
    background-color: #1C1C24;
    position: absolute;
    width: 78%;
    height: 16%;
    margin-top: 80%;
    margin-left: 15%;
    border-radius: 10px;
  }

  .container-subs-stats {

    position: absolute;
    width: 81%;
    height: 21%;
    margin-top: 100%;
    margin-left: 30%;


    .subs-text {
      color: lightgray;
      position: absolute;
      margin-top: 1%;
      margin-left: 3%;
    }

    .subs {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 39%;
      height: 100%;
      margin-top: 1%;
      margin-left: 12%;

      .list {
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        height: 20%;
        color: lightgray;

        .channel {
          margin-top: 10px;
          margin-left: 4%;
        }

        .photo-chan {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          object-fit: cover;
        }
      }
    }

    .about-text {
      color: lightgray;
      position: absolute;
      margin-left: 50%;

    }

    .stats {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 28%;
      height: 93%;
      margin-top: 1%;
      margin-left: 56%;
      border-radius: 12px;
      background-color: #1C1C24;

      .date {
        color: lightgray;
        margin-left: 5%;
      }

      .stats-st-data {
        margin-left: 20px;
        margin-bottom: 0;
        color: lightgray;
      }

      .stats-data {
        margin-top: 0;
        margin-left: 20px;
        margin-bottom: 0;
        color: lightgray;
      }
    }
  }
}

