
.user-channel-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .container-channel-wrapper {
    display: flex;
    width: 78%;
    margin-top: 85px;
    margin-left: 280px;
    flex-direction: column;

    .user-details {
      background-color: #13131A;
      border-bottom: 1px solid dimgrey;
      color: white;
      padding-left: 10px;

      .channel-bg {
        border-radius: 10px 10px 0 0;
        background-size: cover;
        overflow: hidden;
        width: auto;
        height: 150px;


        .edit-bg-icon {
          margin-top: 6%;
          margin-left: 50%;
        }

        a {
          color: lightgray;
        }
      }
    }

    .edit-user-details {
      display: flex;
      flex: 1;
      position: relative;


      .edit {
        position: absolute;
        width: 10%;
        height: 30px;
        margin-top: -30px;
        border: 1px solid dimgrey;
        border-radius: 18px;
        margin-left: 5px;
        font-size: 9px;
        color: lightgrey;
        padding-bottom: 2px;
        background-color: #1C1C24;


        .edit-text {
          margin-top: 8%;
          padding-top:2px;
          margin-left: 10%;
          position: absolute;
        }

        .icon {
          margin-left: 80%;
          margin-top: 4%;
          font-size: 16px;
          color: lightgray;
          position: absolute;
        }
      }

      .stats-user {
        display: flex;
        flex-direction: row;
        text-align: center;
        position: relative;
        margin-left: 30px;

        .followers, .views {
          margin-right: 10px;

        }

        a {
          color: lightgray;

          .edit-user-data-icon {
            position: absolute;
            font-size: 12px;
            margin-left: -150px;
            color: white;
          }
        }

        .edit-avatar-icon {
          position: absolute;
          margin-top: -15px;
          margin-left: 115px;
          z-index: 1;
        }

        .user-data {
          .avatar {
            width: 151px;
            height: 151px;
            border-radius: 50%;
            margin-left: 50px;
            border: 3px solid whitesmoke;
            object-fit: cover;
            position: absolute;
            margin-top: -90px;
            display: block;

          }
        }

        .username {
          margin-left: 1%;
          font-size: 22px;
        }

        .bio {
          margin-top: -2%;
          margin-left: 1%;
          font-size: 10pt;
        }
      }
    }
  }

  .achi-title {
    display: flex;
    margin: 10px;

    h2 {
      color: lightgray;
      font-size: 15px;

    }

    .hide-icon {
      font-size: 12px;
    }
  }

  .achievements {
    display: flex;
    background-color: #1C1C24;
    width: 100%;
    height: 11%;
    border-radius: 10px;
    flex-wrap: nowrap;
    align-items: center;

    .goldStalker:hover {
      box-shadow: 4px 4px 4px 4px #857010;
    }

    .goldStalker {
      position: relative;
      display: flex;
      background-color: #13131A;
      width: 8%;
      height: 87%;
      margin: 7px;
      border-radius: 10px;


      .hide-Achi {
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 16%;
        height: 12%;
        color: black;
        margin-left: 82%;


        .close-achi {
          width: 50%;
          margin-left: 4px;
          margin-top: -1px;
        }
      }
      img.Stalker.ouro {
        width: 75px;
        margin-top: -20px;
        margin-left: 11px;
        z-index: 0;

      }

      p {
        color: lightgray;
        font-size: 10pt;
        margin-left: 27px;
        position: absolute;
        margin-top: 93px;
      }
    }


    .starting:hover {
      box-shadow: 4px 4px 4px 4px #78d511;
    }

    .starting {
      position: relative;
      display: flex;
      background-color: #13131A;
      width: 8%;
      height: 87%;
      margin: 7px;
      border-radius: 10px;

      .hide-Achi {
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 16%;
        height: 12%;
        color: black;
        margin-left: 82%;


        .close-achi{
          width: 50%;
          margin-left: 4px;
          margin-top: -1px;
        }
      }

      p {
        color: lightgray;
        font-size: 10pt;
        margin-top: 93px;
        margin-left: -77px;
      }

      .começar {
        width: 80px;
        position: relative;
        margin-top: -10px;
        margin-left: 6px;
      }
    }

    .goldLoved:hover {
      box-shadow: 4px 4px 4px 4px #857010;
    }

      .goldLoved {
        position: relative;
        display: flex;
        background-color: #13131A;
        width: 8%;
        height: 87%;
        margin: 7px;
        border-radius: 10px;


        .hide-Achi {
          position: absolute;
          background-color: red;
          border-radius: 50%;
          width: 16%;
          height: 12%;
          color: black;
          margin-left: 82%;



          .close-achi{
            width: 50%;
            margin-left: 4px;
            margin-top: -1px;
          }
        }

      p {
        color: lightgray;
        font-size: 10pt;
        margin-left: 12px;
        position: absolute;
        margin-top: 92px;
      }

      img.adoram-me.ouro {
        width: 70px;
        height: 70px;
        margin-top: 15px;
        margin-left: 12%;
        border-radius: 50%;
        background: rgb(232, 206, 107);

      }
    }

    .goldRising:hover {
      box-shadow: 4px 4px 4px 4px #857010;
    }

    .goldRising {
      position: relative;
      display: flex;
      background-color: #13131A;
      width: 8%;
      height: 87%;
      margin: 7px;
      border-radius: 10px;

      .hide-Achi {
        position: absolute;
        background-color: red;
        border-radius: 50%;
        width: 16%;
        height: 12%;
        color: black;
        margin-left: 82%;

        .close-achi{
          width: 50%;
          margin-left: 4px;
          margin-top: -1px;
        }
      }

      img.Rising.ouro {
        width: 75px;
        margin-top: -27px;
        margin-left: 11%;
      }

      p {
        color: lightgray;
        font-size: 10pt;
        margin-left: 14px;
        position: absolute;
        margin-top: 92px;
      }
    }
  }

  .upload-title {
    display: flex;
    margin:10px;
    h2 {
      font-size: 15px;
      color: lightgray;

    }
  }

  .container-uploads {
    display: flex;
    align-items: center;
    align-content: space-evenly;
    background-color: #1C1C24;
    width: 100%;
    height: 18%;
    border-radius: 10px;

    .user-video{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 300px;
      margin:auto;

    }

  }
    .play {
      display: flex;
      margin: 10px;
      height: 50px;
      h2 {
        font-size: 15px;
        color: lightgray;

      }
    }


  .container-playlists {
    display: flex;
    align-items: center;
    align-content: space-evenly;
    background-color: #1C1C24;
    width: 100%;
    height: 18%;
    border-radius: 10px;

    .user-play{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 300px;
      margin:auto;

    }
  }

  .container-subs-stats {
    display: flex;
    flex-direction: row;
    width: 89%;
    margin-top: 30px;
    margin-bottom: 50px;

    .subs-text {
      color: lightgray;
      margin-top: 1%;
    }

      .subs {
        display: flex;
        flex-direction: column;
        width: 34%;
        margin-top: 1%;
        margin-left: 2%;


        .list {
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        height: 20%;
        color: lightgray;

        .channel {
          margin-top: 10px;
          margin-left: 4%;
        }

        .photo-chan {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          object-fit: cover;
        }
      }
    }

      .about-text {
        color: lightgray;
        margin-left: 9%;
    }

      .stats {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 150px;
        margin-top: 1%;
        margin-left: 20px;
        border-radius: 12px;
        background-color: #1C1C24;


        .date {
        color: lightgray;
        margin-left: 5%;
      }

      .stats-st-data {
        margin-left: 20px;
        margin-bottom: 0;
        color: lightgray;
      }

      .stats-data {
        margin-top: 0;
        margin-left: 20px;
        margin-bottom: 0;
        color: lightgray;
      }
    }
  }
}

