.Profile {
  .container-profile{
    display: flex;
  }
  .container{
    padding: 1%;
    display: flex;
    flex-direction: column;
    background-color: #1C1C24;
    color: white;
    border-radius: 25px;
    width: 100%;
    margin-left: 17%;
    margin-top: 4%;
    .inputContainer{
      margin-bottom: 15px;
      background-color: #13131A;
      width: 100%;
      margin-top: 10px;
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      border-radius: 6px;
      height: 30px;
      border: none;
      outline: none;
      img{
        width: 220px;
        height: 180px;
      }
      input{
        width: 100%;
        border: none;
        outline: none;
        margin-left: 10px;
        background-color: #13131A;
        color: white;
      }
      .icons{
        margin-right:5px;
        color: white;
      }
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  #avatar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  #uheader{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  button{
    margin-top: 10px;
    background-color: #1E75FF;
    border-radius: 20px;
    border: none;
    padding: 8px;
    width: 100%;
    color: white;
  }
  #birthdate {
    color-scheme: dark;
    input{
      font-size:17px;
      color: grey;
    }
  }


}