.Profile {
  width: 90%;
  .container-profile {
    padding-left: 200px;
    display: flex;
    align-items: center;

    .container {
      display: flex;
      flex-direction: column;
      color: white;
      border-radius: 25px;
      width: 100%;
      margin-left: 200px;
      margin-top: 100px;
      .title{
        font-size: 1em;
        display: flex;
        align-content: flex-start;
      }
      .inputContainer {
        margin-bottom: 15px;
        background-color: #13131A;
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        height: 30px;
        border: none;
        outline: none;
        overflow: scroll;

        img {
          width: 220px;
          height: 180px;
        }

        input {
          height: 3em;
          width: 100%;
          #file-upload-button{
            color: red;
          }

        }

        .icons {
          margin-right: 5px;
          color: white;
        }
      }
      .inputContainer-photo{
        height: auto;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }

      #avatar {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 19em;
        position: relative;
border-radius: 50%;
        .formButton {
          border-radius: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          padding: 10px;
          border-radius: 5px;
          text-align: center;
          font-size: 16px;
        }

      }

    #uheader {
      display: flex;
      flex-direction: column;
      height: 19em;
      position: relative;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .formButton {
        width: 5em;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 10px;
        text-align: center;
        font-size: 16px;

      }

    }
    input #header.formButton{
      -moz-default-background-color: red;
    }
    .save {
      margin-top: 10px;
      background-color: #1E75FF;
      border-radius: 20px;
      border: none;
      padding: 8px;
      width: 100%;
      color: white;
      height: 3em;
    }

    .password-button {
      margin-top: 10px;
      background-color: rgb(48, 48, 57);
      border-radius: 20px;
      border: none;
      padding: 8px;
      width: 100%;
      color: white;
      height: 3em;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: white;
      }
      }
    .delete {
      margin-top: 10px;
      background-color: rgb(143,43,37);
      border-radius: 20px;
      border: none;
      padding: 8px;
      width: 100%;
      color: white;
      height: 3em;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: white;
      }
      #birthdate {
        color-scheme: dark;

        input {
          font-size: 17px;
          color: grey;
        }
      }
    }


  }}