.Header {
  width: 100%;
  height: 55px;
  background-color: #1C1C24;
  border-bottom: 1px solid dimgrey;
  display: flex;
  position: fixed;
  z-index: 1;

  .logo {
    width: 200px;

    img {
      width: 85px;
      margin-top: 15px;
      margin-left: 50px;
      object-fit: cover;
    }
  }

  .searching {
    padding-left: 6%;
    padding-bottom: 10px;
    position: relative;
    width: 60%;

    .s-icon {
      position: absolute;
      margin-top: 17px;
      margin-left: 89%;
      font-size: 20px;
      color: rgba(248, 247, 247, 0.47);

      &.active, &:hover {
        color: antiquewhite;
      }
    }

    .search {
      width: 100%;
      border-radius: 8px;
      margin-top: 10px;
      padding: 8px;
      background-color: #30303a;
      border: none;
      color: rgba(248, 247, 247, 0.47);
    }
  }

  .login {
    position: relative;
    padding: 0;

    .button {
      background-color: #1E75FF;
      border-radius: 20px;
      border: none;
      padding: 8px;
      margin-top: 10px;
      margin-left: 98%;
      text-align: left;
      max-width: 16em;
      min-width: 10em;
      color: white;
      font-family: 'Josefin Sans', sans-serif;
    }

    .l-icon {
      display: flex;
      position: absolute;
      color: white;
      margin-left: 235px;
      margin-top: -30px;
      font-size: 20px;

    }
  }

  a{
    text-decoration: none;
  }

  .user-logged {

    width: 150px;
    margin-left: 16%;

    .redDot{
      position: absolute;
      z-index: 1;
      width: 5px;
      height: 5px;
      margin-top: 15px;
      margin-left: 20px;
      border-radius:50%;
      background-color: red;

    }

    .b-icon {
      position: absolute;
      display: flex;
      margin-top: 17px;
      margin-left: 10px;
      font-size: 20px;
      color: rgba(248, 247, 247, 0.47);
      z-index: 1;

      &.active, &:hover {
        color: antiquewhite;
      }

    }

    .menu-notification{
      width:14%;
      height: 66%;
      background-color: #dddddd;
      position: absolute;
      z-index: 1;
      margin-top: 13px;
      margin-left: calc(100% - 114%);
      padding-top: 5px;
      padding-left: 5px;
      border-radius:10px;
      color:#1C1C24;

      a{
        color:#1C1C24;
        text-decoration: none;
      }
    }

    .avatar {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-top: 13px;
      margin-left: 40px;
      object-fit: cover;
    }

    .sort-icon {
      position: absolute;
      display: flex;
      margin-top: -30px;
      margin-left: 80px;
      font-size: 20px;
      color: rgba(248, 247, 247, 0.47);

      &.active, &:hover {
        color: antiquewhite;
      }
    }

    .dropdown {
      .dropdown-content {
        position: absolute;
        width: 9%;
        height: 145%;
        background-color: #1C1C24;
        border: 1px solid dimgrey;
        border-radius: 10px;
        font-size: 12pt;
        z-index: 1;

        .send {
          width: 87%;
          border: 1px solid #30303a;
          background-color: #30303a;
          color: whitesmoke;
          padding: 14px 7px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin-top: 5px;
          margin-left: 14px;
          margin-bottom: 32px;
          cursor: pointer;
          border-radius: 10px;
        }

        .send:hover {
          background-color: #198819;
          color: white;
        }

        .custom-checkbox {
          display: flex;
          box-sizing: border-box;
          margin: 18px 54px 16px;
          position: relative;


          .custom-checkbox input {
            -webkit-appearance: none;
            appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: transparent;
            border: none;
          }

          .custom-checkbox span {
            padding-left: 48px;
            line-height: 24px;
            font-size: 18px;
            display: inline-block;
          }

          .custom-checkbox span:before {
            position: absolute;
            text-align: center;
            left: 0;
            top: 0;
            font-size: 0;
            width: 24px;
            height: 24px;
            content: "\2713";
            border: 1px solid black;
            color: white;
            display: block;
            background: white;
          }

          .custom-checkbox input:checked + span:before {
            background: black;
            font-size: 18px;
          }

          .custom-checkbox span:before {
            transition: background .3s ease, font-size .3s ease;
          }
        }

        .menu-item {
          border-bottom: 1px solid #696969;
          padding: 5px;

          a {
            text-decoration: none;
            color: #dddddd;
            padding-bottom: 5px;
          }
        }
        .menu-last-item {
          padding: 5px;
          color: #dddddd;

          a {
            text-decoration: none;
            color: #dddddd;
            padding-bottom: 5px;
          }

        }

        a {
          text-decoration: none;
          color: #dddddd;
          padding-bottom: 5px;
        }

        button {
          padding: 0;
          font-size: 11pt;
          font-family: 'Josefin Sans', sans-serif;
          color: #dddddd;
          background-color: #1C1C24;
        }

      }
    }

  }

  .search-results{
    display: flex;
    width: 20%;
    height: 60%;
    margin-top: 20%;
    margin-left: 30%;
    border-radius: 15px;
    position: absolute;
    background-color: #1C1C24;

  }
}